<div id="emandatestatus-page">
  <div class="flex-container">
    <div class="flex-item-left bg-white">
      <div class="margin-top margin-bottom">
        <div class="loginform">
          <form>
            <div class="invoicetitle">
              <h2 i18n="@@ABA1">eMandate Status</h2>
            </div>
            <div class="w-100 text-center">
              <h2 class="sucmsg">eMandate Successful</h2>

              <mat-icon class="biganim1">check_circle_outline</mat-icon>
            </div>
            <div>
              <div class="tableheader w-100"></div>
            </div>
          </form>

          <div class="w-100 text-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
