<div id="forgot-password-page">
  <div class="flex-container">
    <div class="flex-item-left">
      <div class="text-center margin-top margin-bottom">
        <img
          src="../../../../../assets/images/xuritilogo.png"
          alt="xuritilogo"
          class="logo img-responsive"
        />
        <p class="logotext">Guaranteed payment solution</p>
      </div>
    </div>
    <div class="flex-item-right bg-white">
      <div class="loginform">
        <div class="margin-top margin-bottom">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
              <h2>
                <button
                  [routerLink]="['/auth/login']"
                  class="backbtn"
                  mat-icon-button
                  aria-label="Example icon button with a vertical three dot icon"
                >
                  <mat-icon>keyboard_backspace</mat-icon>
                </button>
                Forgot Password?
              </h2>
              <p>We’ll send a recovery link</p>
            </div>
            <div>
              <div class="input-wrapper">
                <mat-form-field class="full-width-input" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    required
                  />
                  <mat-error style="color: rgb(241, 14, 14)"
                    >Invalid email format</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button color="primary" class="btn-primary">
                SEND RECOVERY LINK
              </button>
            </div>
            <div class="input-wrapper">
              <div class="text-center">
                Return to
                <a class="forgot-password" [routerLink]="['/auth/login']">
                  Login
                </a>
              </div>
            </div>
            <div class="input-wrapper">
              <div class="divcontainer">
                <div class="divline">
                  <mat-divider></mat-divider>
                </div>
                <div class="divline">
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="footer-div">
        <div class="flex-div input-wrapper">
          <div>
            <img
              src="../../../../../assets/images/xuritilogowhite.png"
              alt="xuritilogo"
              class="img-responsive"
            />
          </div>
          <div>
            <p i18n="@@LOG13">
              More than 500 merchants in your area are on Xuriti.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
