#users-page {
  width: 100%;
  height: 100%;

  min-height: 100vh;

  table {
    width: 100%;
    border-collapse: separate !important;
    margin-top: 11px;
  }
  th.mat-header-cell {
    border: 1px solid #ffffff2e;
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  th.mat-header-cell {
    padding: 5px;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding: 5px;
  }
  td.mat-cell {
    font-weight: 500;
    border-bottom: 1px solid #00000029;
    padding: 5px;
  }

  .actioncol {
    color: white;
    width: 235px;
  }

  .mat-mini-fab {
    margin-left: 6px;
    margin-right: 6px;
    color: white;
    background: black;
    box-shadow: none;
    width: 39px;
    height: 39px;
    line-height: 39px;
  }
  .mat-mini-fab .mat-button-wrapper {
    padding: 4px 0;

    line-height: 21px;
  }
  .mat-stroked-button {
    line-height: 31px;
    padding: 0px 10px;
    font-size: 14px;
  }

  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: #f79e1b;
    color: #f79e1b;
    line-height: 31px;
    padding: 0px 10px;
    font-size: 14px;
  }

  .bottom-logo {
    max-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .bottom-text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .tableheader {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
  }

  .w-10 {
    width: 10%;
  }

  .w-20 {
    width: 20%;
  }

  .w-30 {
    width: 30%;
  }

  .w-40 {
    width: 40%;
  }

  .w-50 {
    width: 50%;
  }

  .w-60 {
    width: 60%;
  }

  .w-70 {
    width: 70%;
  }

  .w-80 {
    width: 80%;
  }

  .w-90 {
    width: 90%;
  }

  .w-100 {
    width: 100%;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .logo {
    max-height: 65px;
  }

  .image-responsive {
    max-width: 100%;
    height: auto;
  }

  .logotext {
    font: normal normal normal 16px/26px Lato;
  }

  .margin-top {
    margin-top: 1rem;
  }

  .bg-white {
    background: white;
  }

  .margin-bottom {
    margin-bottom: 1rem;
  }

  .btn-primary {
    background: #f79e1b 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 100%;
    color: white;
    padding: 6px;
    margin-top: 4px;
  }

  .btn-add {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 100%;
    color: black;
    padding: 6px;
    border: 1px solid black;
  }

  .btn-remove {
    box-shadow: none;
    background: #e40000;
    color: white;
  }

  .btn-primary-outline {
    width: 100%;
    padding: 4px 4px;
    line-height: 34px;
    margin-top: 3px;
    border: 1px solid #f79e1b;
    color: #f79e1b;
  }

  .btn-secondary {
    background: #f6f2e9 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 100%;
    padding: 6px;
  }

  .btn-secondary img {
    vertical-align: middle;
    margin: 0px 5px 4px 5px;
    width: 23px;
  }

  .input-wrapper {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .mat-form-field {
    display: block;
    line-height: 1.2;
    padding-right: 10px;
  }
  tr.mat-header-row {
    background: #000000;
  }
  ::ng-deep {
    .mat-paginator {
      .mat-form-field {
        line-height: 1.8;
      }
    }

    .mat-sort-header-content {
      color: white;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: #000000;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: #c4c4c4;
    }

    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
      .mat-form-field-outline-thick {
      color: #c4c4c4;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
    .mat-form-field.mat-form-field-invalid
      .mat-form-field-label
      .mat-form-field-required-marker {
      color: #c4c4c4;
    }

    .mat-horizontal-stepper-header {
      height: 44px;
      padding: 0 22px;
    }

    .mat-horizontal-content-container {
      padding: 0 5px 24px 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0.5em;
    }

    .mat-form-field-infix {
      border-top: 0.6em solid transparent;
    }

    .mat-step-header .mat-step-icon {
      background-color: #cccccc;
    }

    .mat-step-header .mat-step-icon-state-done {
      background-color: #cccccc;
    }

    .mat-step-header .mat-step-icon-state-edit {
      background-color: #cccccc;
    }

    .mat-step-header .mat-step-icon-selected {
      background-color: #000000;
    }

    .mat-step-header .mat-step-label.mat-step-label-active {
      color: #000000;
    }
  }

  .text-right {
    text-align: right;
  }

  .loginform {
    padding: 0px 25px;

    .forgot-password a {
      color: black;
    }

    h2 {
      text-align: left;
      font-size: 20px;
      letter-spacing: 0.36px;
      color: #000000;
      margin: 12px 0 12px;
    }

    p {
      text-align: left;
      font: normal 16px/26px Lato;
      letter-spacing: 0.16px;
      color: #000000;
    }
  }

  .no-shadow {
    box-shadow: none;
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }

  .flex-div {
    display: flex;
    flex-direction: row;

    .btn-primary {
      margin: 5px;
    }
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }

  .flex-item-left {
    padding-right: 5px;
    flex: 50%;
  }

  .flex-item-right {
    padding-left: 5px;
    flex: 50%;
  }

  .divcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .divline {
    flex: 1;
  }

  .divtext {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }

    .margin-bottom {
      margin-bottom: 1rem;
    }

    .margin-top {
      margin-top: 1rem;
    }

    .loginform {
      padding: 0px 30px;
    }

    .flex-div {
      display: block;
      text-align: center;
    }

    .flex-div p {
      text-align: center;
    }

    .loginform h2,
    .loginform p {
      text-align: center;
    }
  }
}

#dialogconfirm-page {
  .btn-primary {
    background: #f79e1b 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 100%;
    color: white;
    padding: 6px;
    margin-top: 4px;
  }
}

#add-users-dialog {
  ::ng-deep {
    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: #000000;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: #c4c4c4;
    }

    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
      .mat-form-field-outline-thick {
      color: #c4c4c4;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
    .mat-form-field.mat-form-field-invalid
      .mat-form-field-label
      .mat-form-field-required-marker {
      color: #c4c4c4;
    }

    .mat-horizontal-stepper-header {
      height: 44px;
      padding: 0 22px;
    }

    .mat-horizontal-content-container {
      padding: 0 5px 24px 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0.5em;
    }

    .mat-form-field-infix {
      border-top: 0.6em solid transparent;
    }

    .mat-step-header .mat-step-icon {
      background-color: #cccccc;
    }

    .mat-step-header .mat-step-icon-state-done {
      background-color: #cccccc;
    }

    .mat-step-header .mat-step-icon-state-edit {
      background-color: #cccccc;
    }

    .mat-step-header .mat-step-icon-selected {
      background-color: #000000;
    }

    .mat-step-header .mat-step-label.mat-step-label-active {
      color: #000000;
    }
  }

  .btn-primary {
    background: #f79e1b 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 100%;
    color: white;
    padding: 6px;
    margin-top: 4px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .margin-top {
    margin-top: 1rem;
  }

  .btn-primary-outline {
    width: 100%;
    padding: 4px 4px;
    line-height: 34px;
    margin-top: 3px;
    border: 1px solid #f79e1b;
    color: #f79e1b;
  }

  .add-dailog,
  .edit-dailog {
    display: flex;
    justify-content: space-between;

    .mat-icon-button {
      padding: 0;
      min-width: 0;
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      line-height: 25px;
      border-radius: 50%;
    }

    .mat-icon {
      font-size: 15px;
    }
  }

  .input-wrapper {
    padding: 6px 0px 12px 0px;
    .mat-form-field {
      margin-left: 5px;
      margin-right: 5px;
    }
    .mat-error {
      margin-top: 12px;
    }
  }

  @media only screen and (max-width: 767px) {
    .input-wrapper {
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
